@import "tailwindcss";

@theme {
  --color-brand-50: #eeecfd;
  --color-brand-100: #ded9fb;
  --color-brand-500: #6c5fe6;
  --color-brand-600: #5b4fe0;
  --color-brand-700: #4c3fd6;
}

body {
  @apply bg-gray-50 text-gray-900;
}
